html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav {
    background-image: url("/assets/ICT_bg.jpg");
}

.modal-content{
    margin-top: 30%;
    width:50rem;
    height: 30rem;
}